$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$large-heading: 4.25rem;
$medium-heading: 1.8rem;

$large-heading-lg: 4.25rem;
$large-heading-md: 3.25rem;
$large-heading-sm: 2.25rem;

$medium-heading-lg: 1.8rem;
$medium-heading-md: 1.8rem;
$medium-heading-sm: 1.8rem;

$small-heading-lg: 1.3rem;
$small-heading-md: 1.3rem;
$small-heading-sm: 1.3rem;

$large-paragraph: 1.125rem;
$medium-paragraph: 1rem;
$small-paragraph: 0.8rem;

$dark-gray: rgba(20,20,20,0.9);

