@import 'styles/_config.scss';
@import 'styles/_common.scss';

.intro_section {
  @include container;

  background: black;

  h1 {
    @include gradient-heading;
  }
}

.buttons {
  @include button-container;

  margin-top: 2rem;

  .button {
    @include round-button;
    background: $dark-gray;
    color: white;

    i {
      @include gradient-text;
    }
  }

}
