@import 'styles/_config.scss';
@import 'styles/_common.scss';

.projects_section {
  @include container;

  background: white;

  h1 {
    @include color-heading(black);
  }

  .project {
    width: 100%;
    display: flex;
    flex-direction: column;

    .project_info {
      margin-top: 2.5rem;
      margin-bottom: 1rem;
      flex-shrink: 0;

      h2 {
        font-size: $medium-heading;
      }
      & > span {
        display: inline-block;
        font-size: $medium-paragraph;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: $large-paragraph;
        margin-bottom: 0.25rem;
      }
    }

    .slideshow {
      max-width: 850px;
      position: relative;
      flex-shrink: 0;
      flex-grow: 1;
    }
    @media (min-width: #{$screen-md}) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 2rem;

      .project_info {
        width: 200px;
      }
      .slideshow {
        margin-top: 2.5rem;
      }
    }
    @media (min-width: #{$screen-lg}) {
      margin-top: 6rem;
      margin-bottom: 6rem;

      .project_info {
        margin-top: 0;
        width: 30%;
        min-width: 200px;
      }
      .slideshow {
        margin-top: 0;
      }
    }
  }
}
